 body {
        background-color: #d0e4fe;
    }

    h1 {
        color: orange;
        text-align: center;
    }

    a {
        color: green;
        text-decoration: none;
    }

    a:link {
        color: orange;
    }

    a:visited {
        color: blue;
    }

    a:hover {
        color: red;
        text-decoration: none;
    }

    a:active {
        color: yellow;
    }